/* <div className="page_container">
<h3 className="my_info">내 정보</h3>
<div className="my_custom_container">
  <div className="circle_container">
    <input type="file" id="imageInput" className="circle_input" accept="image/*" onChange={handleImageChange} />
    <div></div>
    <img src={previewImageUrl} alt="" className="circle_image" />
  </div> */

.page_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.my_info {
  margin-top: 40px
}

.image_nickname_container, .id_container, .password_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.profile_image {
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  background-color: lightgray;
  overflow: hidden;
}

.profile_image_uploader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
}

.circle_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nickname_input, .id_input {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid gray;
  width: 200px;
  height: 50px;
}

.custom_label_id {
  font-weight: bold;
  min-width: 68px;
  font-size: 14px;
  padding-left: 12px;
  margin-right: 2px;
}

.custom_label_pw {
  font-weight: bold;
  font-size: 14px;
  padding-left: 12px;
  margin-right: 30px;
}

.input_container {
  width: 250px;
  height: 50px;
  margin-left: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.nickname_input, .id_input {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #8DC693;
  font-size: 15px;
  padding: 10px;
  color: #838383;
}

.leave_button{
  margin: 20px 17px 17px 17px;
  font-size: 7px;
  text-align: left !important;
}

.confirm_button {
  white-space: nowrap;
}